@import '../../styles/main';

/* MAIN STYLE FOR THE PAGE */
.main {
  margin-top: 1rem;
  height: fit-content;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

/* Larger screens */
@media (min-width: 768px) {
  .main {
    flex-direction: row;
  }
}

/* SIDEBAR SPECIFIC STYLING */
.sidebar {
  padding: 1.2rem;

  .search {
    width: 100%;
    margin: 1rem 0;
    display: flex;
    align-items: center;

    .searchButton {
      font-size: 2rem;
    }

    .searchBar {
      padding: 1rem;
      width: 80%;
      margin-left: 1rem;
      height: 3rem;
      font-size: 1.5rem;
      font-family: $body_font_stack;
      border-radius: 0.5rem;
      border: 0;
      background-color: $color_white;
      color: $color_black;

      &:focus {
        outline: 0;
        border: 0.3rem solid $color_black;
      }
    }
  }

  .filters {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    button {
      width: fit-content;
      margin: 1rem 0 1rem 1rem;
      padding: 0.5rem;
      border-radius: 0.5rem;
      border: 0.1rem solid $color_white;
      box-shadow: 0 1px 2px $color_subtle_shade;
      background-color: transparent;
      color: $color_white;

      &:first-of-type {
        margin-left: 0;
      }
    }
  }
}

/* Larger screens */

@media (min-width: 768px) {
  .sidebar {
    flex: 1;

    .filters {
      flex-direction: column;

      button {
        margin-left: 10%;

        &:first-of-type {
          margin-left: 10%;
        }
      }
    }
  }
}

/* LISTING SPECIFIC STYLING */

.listing {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
}

@media (min-width: 768px) {
  .listing {
    flex: 2;
  }
}

/* CARD SPECIFIC STYLING */
.card {
  width: 90%;
  height: 400px;
  display: flex;
  flex-direction: column;
  background-color: $color_thick_shade;
  border-radius: 1rem;
  margin-bottom: 1rem;
  box-shadow: 1px 2px 4px $color_subtle_shade;

  img {
    width: 100%;
    height: 60%;
    flex: 1;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  .preview {
    flex: 2;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: $color_white;

    .date {
      display: inline-block;
      width: 100%;
      font-size: 0.8rem;
      padding-left: 1rem;
    }

    .title {
      font-size: 1.8rem;
      text-align: center;
      letter-spacing: 0.2rem;
    }

    .snippet {
      font-size: 1.2rem;
      text-align: center;
      letter-spacing: 0.1rem;
    }

    .extras {
      width: 100%;
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        font-size: 1.5rem;
      }

      a {
        text-decoration: none;
        width: 40%;
        padding: 0.5rem;
        font-size: 1.7rem;
        background-color: transparent;
        border: 0;
        color: inherit;
      }
    }
  }
}

/* Larger screens */
@media (min-width: 768px) {
  .card {
    height: 300px;
    flex-direction: row;

    img {
      height: 100%;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
    }

    .preview {
      padding: 1rem;

      .date {
        font-size: 1.2rem;
      }

      .title {
        font-size: 2rem;
      }
    }
  }
}
