@import '../../styles/main';

.card {
  width: 90%;
  height: 400px;
  display: flex;
  flex-direction: column;
  background-color: $color_thick_shade;
  border-radius: 1rem;
  margin-bottom: 1rem;
  box-shadow: 1px 2px 4px $color_subtle_shade;

  img {
    width: 100%;
    height: 60%;
    flex: 1;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  .preview {
    flex: 2;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: $color_white;

    .date {
      display: inline-block;
      width: 100%;
      font-size: 0.8rem;
      padding-left: 1rem;
    }

    .title {
      font-size: 1.8rem;
      text-align: center;
      letter-spacing: 0.2rem;
      font-weight: bold;
    }

    .snippet {
      font-size: 1.2rem;
      text-align: center;
      letter-spacing: 0.1rem;
    }

    .extras {
      width: 100%;
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        display: flex;
        font-size: 2rem;
        width: 15%;
        justify-content: space-around;
        align-items: center;
      }

      a {
        text-decoration: none;
        width: 40%;
        padding: 0.5rem;
        font-size: 1.7rem;
        background-color: transparent;
        text-transform: lowercase;
        border: 0;
        color: inherit;
        text-align: right;
        transition: all 0.2s ease;

        &:hover {
          letter-spacing: 0.2rem;
          color: $color_neon_light;
          text-transform: capitalize;
        }
      }
    }
  }
}

/* Larger screens */
@media (min-width: 768px) {
  .card {
    height: 30rem;
    flex-direction: row;

    img {
      min-width: 40%;
      max-height: 100%;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
    }

    .preview {
      padding: 1rem;
      height: 100%;

      .date {
        font-size: 1.2rem;
      }

      .title {
        font-size: 2.2rem;
      }

      .extras {
        span {
          width: 11%;
        }
      }
    }
  }
}
