@import './styles/main';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  overflow-x: hidden;
  padding: 0 1rem;
  color: $color_white;
  background: $color_bg_stellar;
  font-family: $body_font_stack;
}

// h1 {
//   font-family: $heading_font_stack;
// }
