@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');

// FONTS

$body_font_stack: 'Exo 2', sans-serif;
$heading_font_stack: 'Orbitron', sans-serif;
$special_text_font_stack: $heading_font_stack;

// COLORS
$color_cosmic_black: #0b0c10;
$color_starry_white: #f0f8ff;
$color_stellar_gradient: linear-gradient(135deg, #2c3e50, #1c1b29);
$color_subtle_shade: rgba(42, 45, 71, 0.3);

$color_bg_dark: $color_cosmic_black;
$color_bg_stellar: $color_stellar_gradient;
$color_white: $color_starry_white;
$color_black: $color_cosmic_black;
