@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');

$body_font_stack: 'Exo 2', sans-serif;
$heading_font_stack: 'Orbitron', sans-serif;
$special_text_font_stack: $heading_font_stack;
